

.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form-container {
    width: 300px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 75%;
  }
  .form-container h2 {
    opacity: 100%;
  }
  .form-container p {
    opacity: 100%;
  }

  .homepage-container h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  

  /* Styles for light mode */
  .light-mode {
    background-color: #d8e8e8;
    color: #333;
    
  }
  /* Styles for dark mode */
  .dark-mode {
    background-color: #333;
    color: #f5f5f5;
    
  }

  .light-mode-parent {
    background-image: url("images/background-bright.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .dark-mode-parent {
    background-image: url("images/background-dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  
  .toggle-mode-button {
    margin-top: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 8px;
    cursor:pointer;
}

.toggle-mode-button:focus {
outline: none;
}

.toggle-mode-button:hover {
background-color: #c3c0c0;
}
  
.homepage-container.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .form-container.dark-mode {
    background-color: #555;
  }